
header{
    /* margin-bottom: 82px; */
    background-color:  #2F2F2F;
    
}
.nav-link{
    color: aliceblue !important;
}
.nav-link:hover{
    color: #db3636 !important;
}

.logOut-btn:hover{
    color: #fff !important;
}